/* ==========================================================================
   Geral
   ========================================================================== */

html {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    background-color: #0cb2e6;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Tipografia
   ========================================================================== */
   
* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

p {
    font-weight: 300;
    color: #30304d;
}

b, strong, em, small, code {
    line-height: 1;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 24px;
    margin-bottom: 24px;
}
hr {
    border: 1px solid;
    margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #2f2f4c;
    font-weight: 600;
}

h1 {
    font-size: 93px;
    line-height: 96px;
    margin-top: 48px;
    margin-bottom: 24px;
    font-weight: 900;
}
h2 {
    font-size: 52px;
    line-height: 72px;
    margin-top: 0px;
    margin-bottom: 24px;
    font-weight: 900;
}
h3 {
    font-size: 29px;
    line-height: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
}
h4 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.capa {
	transform: translate(-50%, -50%);
	top: 50%;
	  left: 50%;
  display: block;
  position: absolute;
  max-width: 225px;
}

.placa {
	margin-top: auto;
	margin-bottom: auto;
}



/* ==========================================================================
   Cabeçalho
   ========================================================================== */
   
#header {
    z-index: 9999;
    position: relative;
    padding-top: 29px;
}

/* ==========================================================================
   Data
   ========================================================================== */
   
#tempo {
    color: #f6f7f9;
}


#tempo .dash {
    display: inline-block;
    width: auto;
    padding: 31px 25px 0;
    height: 168px;
    line-height: 62px;
    text-align: center;
    border-radius: 20px;
    margin: 0px 12px;
}

#tempo .dash .digit {
    display: block;
    font-size: 100px;
    line-height: 79px;
    height: 81px;
    float: left;
}

#tempo .dash .digit .top, #tempo .dash .digit .bottom {
    font-weight: 900;
}

#tempo .dash span.dash_title {
    font-size: 16px;
    line-height: 16px;
    padding-top: 15px;
    font-weight: 300;
    display: block;
    text-align: center;
    clear: both;
}
   
   /* ==========================================================================
   Rodapé
   ========================================================================== */
   
#footer {
    z-index: 9999;
    position: relative;
    margin-top: 24px;
}

.footer_text {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
}

.credit {
	font-size: 12px;
	color: #2F2F4D;
}

.contact_socials {
    padding: 0;
    margin: 0;
}
.contact_socials a:focus, a:hover {
	text-decoration: none;
}


.contact_socials li {
    display: inline-block;
}

.footer_socials {
    margin: 25px 0 50px;
}

.share {
    font-size: 16px;
    color: #2f2f4c;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    display: block;
    margin: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.share:hover, .share:active, .share:focus {
    color: #ffffff;
}

   /* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
   
@media (max-width: 468px) {

    h2 {
        font-size: 43px;
        line-height: 60px;
    }

    .navbar{
        margin-bottom: 0;
    }

    #tempo .dash {
        width: auto;
        padding: 0px 5px 0px;
        height: 135px;
        line-height: 62px;
        margin: 0px 12px;
    }

    #tempo .dash .digit {
        font-size: 72px;
        line-height: 79px;
        height: 81px;
    }
}
    